@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* HEADER */

.navbar {
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}


.logo {
    margin-left: 20px;
    height: 80px; 
    width: auto;
}

.liens {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    text-decoration: none;
    list-style: none;
}

.liens a {
    margin-right: 40px;
    text-decoration: none;
    color: #15375a;
    font-size: 1rem;
}

.liens li {
    position: relative;
}

.sousliens li {
    display: block;
}

.sousliens li a {
    background-color: white;
    color: #15375a;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sousliens li a:hover {
    background-color: #15375a;
    color: white;
}

.sousliens {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 999;
}

ul li:hover ul.sousliens {
    display: block;
}

.panier {
    height: 25px;
    margin-right: 40px;
}

.lang-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #15375a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .liens {
        display: none;
    }
}

/* Styles pour le bandeau promotionnel */
.promo-banner {
    background-color: plum; /* Même couleur que le footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Ajouter une ombre */
}

/* Style général */

body {
    margin: 0;
    padding: 0;
    background-color: #13375a;
}

/* Styles pour la page produit */
.product-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
    margin-top: 70px;
    margin-bottom: 80px;
}

.product-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-details img {
    max-width: 300px;
    height: 300px;
    margin-right: 20px;
    object-fit: cover;
    
}

.product-info {
    max-width: 400px;
}

.product-info .description {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-info .prix {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-info form {
    display: flex;
    flex-direction: column;
}

.product-info form label {
    margin-bottom: 5px;
}

.product-info form input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 60px;
}

.product-info form button {
    padding: 10px;
    background-color: #13375a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.product-info form button:hover {
    background-color: #0e2842;
    color: white;
}

/* footer */

footer {
    background-color: plum;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    position: relative;
}

.footer {
    color: #15375a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.footer1 img {
    margin-right: 60px;
    height: 100px; 
    width: auto;
}

.footer1 button {
    background-color: #15375a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.footer1 button:hover {
    background-color: #0e2842;
    color: white;
}

.footer2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer2 hr {
    width: 80%;
    border: 0.5px solid rgb(121, 121, 121);
}

.footer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
}

.footer3 a {
    text-decoration: none;
    color: #15375a;
    font-size: 1rem;
    margin-left: 20px;
}